div {
    background-color:#ffc90e;
    width:61%;
    height:450px;
    border-style:solid;
}

.box1 {
    display: inline-block;
    background-color:#ed1c24;
    width:200px;
    height:400px;
    border-style:solid;
    margin: 15pt 7.5pt 15pt 22.5pt;
}

.box2 {
    display: inline-block;    
    background-color:#22b14c;
    width:200px;
    height:400px;
    border-style:solid;
    margin: 1.25rem .63em 1.25rem .63em;
}

.box3 {
    display: inline-block;
    background-color:#3f48cc;
    width:200px;
    height:400px;
    border-style:solid;
margin: 2.8vh .32vw 2.8vh .65vw;
}

.box4 {
    display: inline-block;
    background-color:#a349a4;
    width:200px;
    height:400px;
    border-style:solid;
    margin: 20px 5px 20px 5px;
}
