* {
    margin:0%;
    padding:0%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: large;
}

@import 'variables';

body {
    background-color: $bckgrnd_clr;
}

nav {
    background-color: $nav_bar_color;
    grid-template-columns: $auto_fit_column; 
    display: grid;
    grid-template-rows: 5fr 10fr 5fr;
    width: 18vw;
    height: 100%;
    justify-items: center;
    position: fixed;
    top: 0%;
    left:0%;
}

ul {
    display: grid;
    position: relative;
    margin-top: 30vh;
    grid-gap: 2vw;
    list-style-type: none;
}

.button {
    font-size: $button_font_size;
    font-weight: bold;
}

#social-media {
    position: relative;
    margin-top: 20vh;
    p {
        text-align: center;
        font-size: $button_font_size;
        padding: 2vh;
    }
    .socmed-image {
        width: 2vw;
        margin: .5vw;
        @include social_media_button();
        &:hover {
            @include socmed_button_hover;
        }
    }
}